.container {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e, #f7ce68); /* Agregué un gradiente de color */
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.caja {
    border-radius: 50%; /* Hace que el borde sea un círculo */
    background-color: #63cc2e; /* Color de fondo blanco */
    text-align: center; /* Centra el texto horizontalmente */
    display: inline-block; /* Permite que los círculos estén uno al lado del otro */
    width: 100px; /* Ancho del círculo */
    height: 100px; /* Altura del círculo */
    line-height: 100px; /* Centra verticalmente el texto dentro del círculo */
    margin: 30px; /* Espacio entre círculos */
    transition: all .5s ease-in-out; /* Transición suave */
}


.caja:hover {
    background-color: rgb(0, 208, 255);
    color: blue;
    cursor: pointer;
    transform: rotate(45deg);
    box-shadow: 10px 10px 5px 0px;
}

.caja:active {
    background-color: green;
}

